
*.hex
*.map
*.lst
*.scvd
*.uvoptx
*.uvguix.*
*.emProject
*.emSession
.vscode
.vs
*.o
*.d
*.exe

eos
posix
core

# Forder
Objects
build
DebugConfig
Listings
Objects
Output
Debug
Exe
Obj
fusiondata
mapdata
cmake-build-debug

# File
JLinkLog.txt
imxrt105x.uvguix.*
.sconsign.dblite
__pycache__
